#div-header{
	background: url(../img/detalhe-topo.png) no-repeat right;
	width: 950px;
	padding: 50px;
	margin: auto;
}

#img-icon{
	width: 155px;
	height: 70px;
	background: url(../img/logo.png) no-repeat;
	text-align: center;
	text-indent: -7000px;


}

#top-nav-bar{
	margin-top: 10px;
	display: inline-block;
	list-style-type: none;
	background: #e63333;
	,
	
}

#top-nav-bar a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	background: #cf2923;
	margin-left:-3px;
}

#top-nav-bar a li{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 5px 15px;

}	

#top-nav-bar a li{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 5px 15px;

}	

#home #top-nav-bar .home-li{
	background: #a32218;
	cursor: 
}

#top-nav-bar a:hover{
	display: inline-block;
	background: #a32218;
}

