.btn-custom{
	border: 3px solid rgba(0,0,0, 0.8);
	border-radius: 50px;
	font-size: 30px;
	text-shadow: 3px 1px rgba(0,0,0, 1);
	font-weight: bold;
	color: white;
	padding: 10px 15px;
	margin: 5px;
	background: #9966ff;
	
}

.btn-custom:hover{
	border: 3px solid rgba(255,255,255, 0.8);
	transition: 0.5s;
	background: #cc00cc;
}




@media (max-width: 575.98px){ 
	h1{
		font-size: 40px;
		margin-bottom: 50px;
		text-shadow: 5px 1px black;
		letter-spacing: 5px;
		font-weight: bold;
		color: white
	}
	.btn-custom{
		width: 500px;
	}

}


@media (min-width: 576px) and (max-width: 767.98px) {
 	h1{
		font-size: 40px;
		margin-bottom: 50px;
		text-shadow: 5px 1px black;
		letter-spacing: 5px;
		font-weight: bold;
		color: white
	}
	.btn-custom{
		width: 500px;
	}	
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
	h1{
		font-size: 60px;
		margin-bottom: 50px;
		text-shadow: 5px 1px black;
		letter-spacing: 5px;
		font-weight: bold;
		color: white;
	}	
	.btn-custom{
		width: 500px;
	}	
 }


@media (min-width: 992px) and (max-width: 1199.98px) {
 	h1{
		font-size: 80px;
		margin-bottom: 50px;
		text-shadow: 5px 1px black;
		letter-spacing: 5px;
		font-weight: bold;
		color: white
	}
	.btn-custom{
		width: 600px;
	}	
 }

@media (min-width: 1200px) { 
	h1{
		font-size: 100px;
		margin-bottom: 50px;
		text-shadow: 5px 1px black;
		letter-spacing: 5px;
		font-weight: bold;
		color: white;
	}	
	.btn-custom{
		width: 500px;
	}		
}