/*Capa da Home*/
.capa{
	text-align: center;
}

/*Setas do carrosel*/
.carousel-control-next, .carousel-control-prev{
	width: 1%;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
	width: 0%;
}

/*Lista do menu*/
.navbar-nav  a{
	color: white;

}

.navbar-nav  a:hover{
	transition: 0.5s;
	color: #33ccff;
	text-decoration: none;
}

.top-nav-bar{
	padding: 10px 0px;
	background: rgba(0,0,0, 0.7);
}
